.c-ctnForm-check__container {
    margin-top: rem(60);
}

.c-ctnForm-check__inner .c-ctnForm__noteBox {
    display: none;
}

.c-ctnForm-check__inner .c-ctnForm__praivacy {
    display: none;
}

.c-ctnForm-check__inner .c-ctnForm__btnBox {
    margin-top: rem(30);
}