.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.c-modal__content {
    background-color: #f4f4f4;
    max-width: rem(700);
    width: 100%;
    margin: auto;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 999;

    @include mq("sp") {
        max-width: rem(500);
    }
}




@keyframes modalopen {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}


.js-modalClose {
    font-size: 2rem;
}

.js-modalClose:hover {
    cursor: pointer;
}
