/* ハンバーガーメニュー */
.p-hamburger__button {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 64px;
    height: 64px;
    z-index: 9999;
    cursor: pointer;
    text-align: center;
    background-color: $blue;
}

.p-hamburger__button:hover .p-hamburger__button span {
    opacity: 0;
}

.p-hamburger__button:hover .p-hamburger__button span {
    display: block;
    position: absolute;
    width: 34.2px;
    height: 2.4px;
    left: 17px;
    z-index: 9999;
    background: #fff;
    transition: 0.3s ease-in-out;
    animation-name: btnBar;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
}

.p-hamburger__button:hover .p-hamburger__button span:nth-child(2) {
    animation-delay: .1s;
}

.p-hamburger__button:hover .p-hamburger__button span:nth-child(3) {
    animation-delay: .1s;
}

@keyframes btnBar {
    0% {
        transform-origin: right center;
        transform: scale(1, 1);
    }

    50% {
        transform-origin: right center;
        transform: scale(0, 1);
    }

    51% {
        transform-origin: left center;
        transform: scale(0, 1);
    }

    100% {
        transform-origin: left center;
        transform: scale(1, 1);
    }
}

.p-hamburger__button span {
    display: block;
    position: absolute;
    width: 34.2px;
    height: 2.4px;
    left: 17px;
    z-index: 9999;
    background: #fff;
    transition: 0.3s ease-in-out;
}



.p-hamburger__button span:nth-child(1) {
    top: 17px;
}

.p-hamburger__button span:nth-child(2) {
    top: 31px;
}

.p-hamburger__button span:nth-child(3) {
    top: 44px;
}

.p-hamburger__button.active {
    border: rem(1) solid $white;
    width: 33px;
    height: 33px;
    top: 27px;
    right: 22px;
}

.p-hamburger__button.active span {
    background: #fff;
    left: -1px;
}

.p-hamburger__button.active span:nth-child(1) {
    top: 15px;
    left: -1px;
    transform: rotate(-45deg);
}

.p-hamburger__button.active span:nth-child(2),
.p-hamburger__button.active span:nth-child(3) {
    top: 15px;
    transform: rotate(45deg);
}


.p-hamburger__content {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    transform: translateX(340%);
    width: 30%;
    height: 100%;
    padding-top: rem(78);
    transition: all 0.3s;
    background: $blue;

    @include mq("sp") {
        width: 100%;
        transform: translateX(100%);
    }
}

.p-hamburger__content.active {
    transform: translateX(240%);

    @include mq("sp") {
        transform: translateX(0%);
    }
}

.p-hamburger__bg {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    min-height: 100vh;
    transform: translateX(100%);
    transition: all 0.3s;
}

.p-hamburger__bg.active {
    transform: translateX(0%);
}

.p-hamburger__item-title {
    font-size: rem(35);
    padding-bottom: rem(30);
    border-bottom: rem(1) solid $white;
    color: $white;
    font-family: $font-family-six;
    font-weight: 300;
}


.p-hamburger__item a {
    display: inline-block;
    margin-top: rem(25);
    color: #fff;
    text-decoration: none;
    font-size: rem(16);
}

.p-hamburger__item a:hover {
    color: $green;
}


.p-hamburger__button:not(.active):hover .p-gMenuBtn_bar {
    animation-name: btnBar;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
}

.p-hamburger__button:not(.active):hover .p-gMenuBtn_bar-no2 {
    animation-delay: .1s;
}

.p-hamburger__button:hover .p-gMenuBtn_bar-no3 {
    animation-delay: .2s;
}

@keyframes btnBar {
    0% {
        transform-origin: right center;
        transform: scale(1, 1);
    }

    50% {
        transform-origin: right center;
        transform: scale(0, 1);
    }

    51% {
        transform-origin: left center;
        transform: scale(0, 1);
    }

    100% {
        transform-origin: left center;
        transform: scale(1, 1);
    }
}